*.iml
.gradle
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.aab
*.apk
local.properties
/local.properties
output-metadata.json

.kotlin
*.log

misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

google-services.json
*.jks
*.keystore